# SF Salaries Pandas Exercise
We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along. One of the objectives of this assignment is to help you become accustomed to searching for relevant library functions online.

**Import pandas as pd.**

In [ ]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [ ]:
from google.colab import files
uploaded = files.upload()
import io
sal = pd.read_csv(io.BytesIO(uploaded['Salaries.csv']))

Saving Salaries.csv to Salaries.csv

**Check the head of the DataFrame.**

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [ ]:
sal.info(verbose=False, memory_usage=False, null_counts=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Columns: 13 entries, Id to Status
dtypes: float64(8), int64(2), object(3)

<ipython-input-6-deb638c43c5a>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  sal.info(verbose=False, memory_usage=False, null_counts=False)

In [ ]:
len(sal.index)

148654

**What is the average BasePay ?**

In [ ]:
sal["BasePay"].mean()

66325.4488404877

**What is the highest amount of OvertimePay in the dataset ?**

In [ ]:
sal["OvertimePay"].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [ ]:
idx = sal[sal["EmployeeName"]=="JOSEPH DRISCOLL"].index[0]
sal.loc[idx, "JobTitle"]

'CAPTAIN, FIRE SUPPRESSION'

In [ ]:
sal.loc[sal["EmployeeName"]=="JOSEPH DRISCOLL", "JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [ ]:
idx = sal[sal["EmployeeName"]=="JOSEPH DRISCOLL"].index[0]
sal.loc[idx, "TotalPayBenefits"]

270324.91

In [ ]:
sal.loc[sal["EmployeeName"]=="JOSEPH DRISCOLL", "TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [ ]:
sal.loc[sal["TotalPayBenefits"]==sal["TotalPayBenefits"].max(), "EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
sal.loc[sal["TotalPayBenefits"]==sal["TotalPayBenefits"].min(), "EmployeeName"]

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [ ]:
sal[sal["TotalPayBenefits"]==sal["TotalPayBenefits"].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [ ]:
print(f"He is in debt of ${-sal['TotalPayBenefits'].min()} :(")

He is in debt of $618.13 :(

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [ ]:
sal.groupby("Year").mean()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Status
Year,,,,,,,,,
2011,18080.0,63595.956517,4531.065429,3617.081926,NaN,71744.103871,71744.103871,NaN,NaN
2012,54542.5,65436.406857,5023.417824,3653.437583,26439.966967,74113.262265,100553.229232,NaN,NaN
2013,91728.5,69630.030216,5281.641980,3819.969007,23829.076572,77611.443142,101440.519714,NaN,NaN
2014,129593.0,66564.421924,5401.993737,3505.421251,24789.601756,75463.918140,100250.918884,NaN,NaN

In [ ]:
sal.groupby("Year").mean().loc[:, "BasePay"]

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [ ]:
sal.JobTitle.value_counts()

Transit Operator                                  7036
Special Nurse                                     4389
Registered Nurse                                  3736
Public Svc Aide-Public Works                      2518
Police Officer 3                                  2421
                                                  ...
CHIEF HOUSING INSPECTOR                              1
TRAFFIC SIGNAL OPERATOR                              1
COURT COMPUTER FACILITIES COORDINATOR                1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I       1
VICTIM & WITNESS TECHNICIAN                          1
Name: JobTitle, Length: 2159, dtype: int64

In [ ]:
li = list(sal.JobTitle.value_counts())
len(li)

2159

**What are the top 5 most common jobs?**

In [ ]:
sal.JobTitle.value_counts().index

Index(['Transit Operator', 'Special Nurse', 'Registered Nurse',
       'Public Svc Aide-Public Works', 'Police Officer 3', 'Custodian',
       'TRANSIT OPERATOR', 'Firefighter', 'Recreation Leader',
       'Patient Care Assistant',
       ...
       'METAL FABRICATOR', 'ASSISTANT DIRECTOR, JUVENILE HALL',
       'CONFIDENTIAL SECRETARY CITY ATTORNEY',
       'TRAF SIGNAL ELECTRICIAN SUP II', 'DIRECTOR, JUVENILE HALL',
       'CHIEF HOUSING INSPECTOR', 'TRAFFIC SIGNAL OPERATOR',
       'COURT COMPUTER FACILITIES COORDINATOR',
       'AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I',
       'VICTIM & WITNESS TECHNICIAN'],
      dtype='object', length=2159)

In [ ]:
list(sal.JobTitle.value_counts().index)[:5]

['Transit Operator',
 'Special Nurse',
 'Registered Nurse',
 'Public Svc Aide-Public Works',
 'Police Officer 3']

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [ ]:
df = sal[sal["Year"]==2013].groupby("JobTitle")["Id"].count()
df[df==1]

JobTitle
Acupuncturist                    1
Adm, SFGH Medical Center         1
Administrative Analyst I         1
Administrative Analyst II        1
Administrator, DPH               1
                                ..
Victim & Witness Technician      1
Water Meter Shop Supervisor 1    1
Wharfinger 1                     1
Window Cleaner Supervisor        1
Wire Rope Cable Maint Sprv       1
Name: Id, Length: 202, dtype: int64

In [ ]:
df[df==1].count()

202

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [ ]:
l1 = list(sal["JobTitle"])
cnt=0
for job in l1:
  if("CHIEF" in [s.strip(", ()/") for s in job.split()]):
    cnt = cnt+1
print(cnt)

204

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

*Search what correlation is and how you can calculate that using Pandas*

In [ ]:
l = [len(x) for x in list(sal["JobTitle"])]

s = pd.Series(l, index = sal.index)
data = {
    "Job Title Length":l,
    "Salary": list(sal["BasePay"])
}
df = pd.DataFrame(data)
df.corr(method = 'pearson')

                  Job Title Length    Salary
Job Title Length          1.000000 -0.005059
Salary                   -0.005059  1.000000

Just one more assignment